<h1 style="text-align: center;" class="word word2">PROJETO SALUTEM</h1>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <br>
    <!-- Icon -->
    <div class="fadeIn first">
      <img style= "width: 35%; height: 35%;"src="https://image.flaticon.com/icons/svg/149/149071.svg" id="icon" alt="User Icon" />
    </div>
    <br>
    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="usuario">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="senha">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->


  </div>
</div>
