
<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="bg-light" >
  <div class="row">
    <div class="form-group col-1">
        <label for="formGroupExampleInputId">Cod </label>
        <input disabled type="text" class="form-control" id="formGroupExampleInputId" placeholder="" formControlName="clienteId" [value]= [id]>
      </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput">Nome </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite o nome" formControlName = "nome" [value] =[nome]>
  </div>
  <div class="form-group col-2">
    <label for="formGroupExampleInput2">CPF</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="" formControlName ="cpf" [value] =[cpf]>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-6">
    <label for="formGroupExampleInput2">Latitude</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="" formControlName ="lat" [value] =[lat]>
  </div>
  <div class="form-group col-6">
    <label for="formGroupExampleInput2">Longitude</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="" formControlName ="longi" [value] =[longi]>
  </div>
</div>
<button type="submit" class="btn btn-primary">Enviar</button>
</form>
