<h1 style="text-align: center;">LISTA DE CLIENTES</h1>
<br>

<!-- <button type="button" class="btn btn-primary" >Novo</button> -->
<a routerLink = "/cliente/novo" class="btn btn-primary  active" role="button" aria-pressed="true">Novo</a>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">COD</th>
      <th scope="col">Nome</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Razão Social</th>
      <th scope="col">Lat</th>
      <th scope="col">Long</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cliente" >
      <th scope="row">{{item.clienteId}}</th>
      <td>{{item.nome}}</td>
      <td>{{item.cnpj}}</td>
      <td>{{item.razaoSocial}}</td>
      <td>{{item.lat}}</td>
      <td>{{item.longi}}</td>
      <td>
          <!-- <a class="btn btn-primary" href="#" role="button">Link</a> -->
        <button type="button" class="btn btn-success" [routerLink]="['/cliente/item.clienteId/editar']">Editar</button> &nbsp;
        <button type="button" class="btn btn-danger" (click)="excluiCliente(item)">Exluir</button></td>
    </tr>
  </tbody>
</table>
